


    <!-- <div id="branches" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-map-marker"></i> Select the Wash-Up Branch</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Search Branch
                                    <en>*</en>
                                </label>
                                <ul class="branch_select">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <?php if(($_SESSION['crm_property_count']>1)) { ?>
        <?php if(!isset($_SESSION['crm_property_id'])){ ?>
        <div class="modal-backdrop fade show"></div>
            <div class="modal fade show" tabindex="-1" id="modalDefault" style="display: block; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select the Property</h5>
                        <a href="<?php echo BASEPATH ?>" class="closes" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="margin-bottom: 0px;">Select Property <en>*</en></label>
                                    <ul class="branch_select">
                                        <?php echo $data['property'] ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <?php } ?>
    <?php } ?>
        <div class="modal fade " tabindex="-1" id="propertyModel" aria-modal="true">
            <div class="modal-dialog modal-dialog-top" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select the Property</h5>
                        <a href="<?php echo BASEPATH ?>" class="closes" data-dismiss="modal" aria-label="Close">
                            <em class="icon ni ni-cross"></em>
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label style="margin-bottom: 0px;">Select Property <en>*</en></label>
                                    <ul class="branch_select">
                                        <?php echo $data['property'] ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 



    <!-- JavaScript -->
    <script src="<?php echo JSPATH ?>bundle.js?ver=1.5.0"></script>
    <script src="<?php echo JSPATH ?>scripts.js?ver=1.5.0"></script>
     <script src="<?php echo PLUGINS ?>apps/file-manager.js?ver=1.5.0"></script>
    <script src="<?php echo JSPATH ?>validate.min.js"></script>
	<script src="<?php echo JSPATH ?>user.js"></script>
    <script src="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.min.js"></script>
    <script src="<?php echo PLUGINS ?>noty/noty.min.js"></script>

	<?php if (isset($data['scripts'])) { ?>
        
        <?php if ($data['scripts']=="dashboard"  ) { ?>
        <script type="text/javascript">
                 $("#pop_up_window").show();         
        </script>
        <?php } ?>
        
        <?php if ($data['scripts']=="viewgallery" || $data['scripts']=="gallery" || $data['scripts']=="adhoc"  ) { ?>
            <script src="<?php echo PLUGINS ?>lightbox/simple-lightbox.min.js"></script>
            <script type="text/javascript">
                $('.gallery a').simpleLightbox();
            </script>
            <script src="<?php echo JSPATH ?>isotope/isotope.pkgd.min.js"></script>
            <script src="<?php echo JSPATH ?>masonry-docs.min.js"></script>
            <script type="text/javascript">
                $( window ).load( function(){
                    $('#masonry').masonry({
                      itemSelector: '.col-masonry'
                    }); 
                });
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="adhoc"  ) { ?>
        <script type="text/javascript" src="<?php echo JSPATH ?>multifile.js"></script>
        <?php } ?>

        <?php if ($data['scripts']=="adhoc"  ) { ?>
            
            <?php if (1!=1) { ?>
                <script type="text/javascript" charset="utf-8" async defer>
                // multiple images
                var adhoc_row = <?php echo $adhoc_row ?>;
                $i = 1;
                function addProperty() {
                    html = '<tr id="adhoc-row' + adhoc_row + '">';
                    html += '  <td class="text-left"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                    html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control"  required/></td>';
                    html += '  <td class="text-center"><button type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                    html += '</tr>';
                    html += '<tr></tr>';
                    $('#adhoccontent tbody').append(html);
                    adhoc_row++;
                    $i++;
                }
                </script>
            <?php } ?>

        <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var adhoc_row = <?php echo $adhoc_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="adhoc-row' + adhoc_row + '">';
                html += '  <td class="tb-col-os" width="55%"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                html += '  <td class="tb-col-time" width="35%"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="tb-col-action"><a type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#adhoccontent tbody').append(html);
                adhoc_row++;
                $i++;
            }
            </script>

        <?php } ?>

        <?php if ($data['scripts']=="addkyc"  ) { ?>
        
        <script type="text/javascript" charset="utf-8" async defer>
        // multiple images
        var kyc_row = <?php echo $kyc_row ?>;
        var kyc_type = "<?php echo $data['kyc_type'] ?>";
        $i = 1;
        function addKycInfo(){
            html = '<tr id="kyc-row' + kyc_row + '">';
            html += '  <td class="text-left"><select class="form-control form-select"  name="kyc_row[' + kyc_row + '][kyctype_id]" data-placeholder="Select a ID Type" required="" aria-hidden="true"><option value="" >Select ID Type</option>'+kyc_type+'</select></td>';
            html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control"  required/></td>';
            html += '  <td class="text-center"><button type="button" onclick="$(\'#kyc-row' + kyc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
            html += '</tr>';
            html += '<tr></tr>';
            $('#kyccontent tbody').append(html);
            kyc_row++;
            $i++;
        }
        </script>
        <?php } ?>
        
    <?php } ?>

</body>

</html>