
<!-- End Color Settings -->
    

    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <?php if (isset($data['scripts'])) { ?>
    
                    <?php if ($data['scripts']=="dashboard"  ) { ?>
                        <?php if ($data['pop_count']>0): ?> 
                            <div class="popup_bg" style="display: block;">
                        <?php endif ?>

                        <?php if ($data['pop_count']>0): ?>    
                            <div class="pop_bg_wrap" id="pop_up_window">
                                <div class="pop_up_body">
                                    <?php if ($data['banner_info']['image']!=""): ?> 
                                    <img src="<?php echo SRCIMG ?><?php echo $data['banner_info']['image'] ?>" class="img-responsive">
                                    <?php endif ?>
                                    <div class="popup_content">
                                        <h2><?php echo $data['banner_info']['title'] ?></h2>
                                        <div><?php echo $data['banner_info']['description'] ?></div>
                                    </div>
                                    <div class="donate_now">
                                       <h2> <a target="_blank" href="<?php echo BASEPATH ?>news/details/<?php echo $data['banner_info']['token'] ?>" class="btn btn-lg btn-primary" > Read More</a></h2>
                                       <span class="clearfix"></span>
                                    </div>
                                    <div class="close_popup"><a href="javascript:void();"><em class="icon ni ni-cross"></em></a></div>
                                </div>
                            </div>
                            </div>
                        <?php endif ?>
                    <?php } ?>
                <?php } ?>
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="<?php echo BASEPATH ?>" class="logo-link">
                                    <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="<?php echo IMGPATH ?>logo-dark.png" srcset="<?php echo IMGPATH ?>logo-dark2x.png 2x" alt="logo-dark">
                                   
                                </a>
                            </div><!-- .nk-header-brand -->


                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <?php if(isset($_SESSION["crm_property_id"])) {  ?>    
                                        <div class="nk-header-news d-none d-xl-block">
                                            <div class="nk-news-list">
                                                <a class="nk-news-item" href="javascript:void();" data-toggle="modal" data-target="#propertyModel">
                                                    <div class="nk-news-icon">
                                                        <em class="icon ni ni-card-view"></em>
                                                    </div>
                                                    <div class="nk-news-text">
                                                        <p>Property :  <?php echo ucwords($data['user']['title'])?> </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    <?php }else{ ?>

                                    <?php } ?>
                                    
                                    <li class="dropdown user-dropdown">
                                        <!--  -->
                                        <a href="javascript:void();" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-name dropdown-indicator d-none d-sm-block"><?php echo ucwords($data['user']['username']) ?> </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <?php
                                                        $words = explode(" ", $data['user']['username']);
                                                        $acronym = "";
                                                        foreach ($words as $w) {
                                                          $acronym .= $w[0];
                                                        }

                                                         ?>
                                                        <span><?php echo $acronym ?>   </span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text"><?php echo ucwords($data['user']['username']) ?></span>
                                                        <span class="sub-text"><?php echo ($data['user']['email']) ?></span>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="<?php echo BASEPATH ?>profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="<?php echo BASEPATH ?>profile/changepassword"><em class="icon ni ni-setting-alt"></em><span>Change Password</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="<?php echo BASEPATH ?>home/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <?php if (1!=1): ?>
                                    <li class="dropdown notification-dropdown">
                                        <a href="javascript:void();" class="dropdown-toggle nk-quick-nav-icon mr-lg-n1" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a href="javascript:void();">Mark All as Read</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="javascript:void();">View All</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <?php endif ?>
                                    <li class="d-lg-none">
                                        <a href="javascript:void();" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                        <div class="nk-header-news float_right d-md-none d-sm-block  " >
                            <div class="nk-news-list">
                                <a class="nk-news-item" href="javascript:void();" data-toggle="modal" data-target="#propertyModel">
                                    <div class="nk-news-icon">
                                        <em class="icon ni ni-card-view"></em>
                                    </div>
                                    <div class="nk-news-text">
                                        <p>Property :  <?php echo ucwords($data['user']['title'])?> </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
                                <div class="nk-sidebar-menu" data-simplebar>
                                    <!-- Menu -->
                                    <ul class="nk-menu">
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title">Menu</h6>
                                        </li>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='home' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                                <span class="nk-menu-text">Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='property' ? 'active' : '' ?> ">
                                            <a href="<?php echo BASEPATH ?>property" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-info"></em></span>
                                                <span class="nk-menu-text">Property Info</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='kyc' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>kyc/application" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-text"></em></span>
                                                <span class="nk-menu-text">KYC application </span>
                                            </a>
                                        </li>

                                        <?php if(isset($_SESSION["crm_property_id"])){ ?>
                                            <li class="nk-menu-item <?php echo $data['active_menu']=='brochure' ? 'active' : '' ?>">
                                                <a href="<?php echo BASEPATH ?>brochure" class="nk-menu-link">
                                                    <span class="nk-menu-icon"><em class="icon ni ni-property-alt"></em></span>
                                                    <span class="nk-menu-text"> Property Brochure </span>
                                                </a>
                                            </li>

                                            <?php if ($data['menu']['menu']=='show') { ?>
                                            
                                            <li class="nk-menu-item <?php echo $data['active_menu']=='virtual' ? 'active' : '' ?>">
                                                <?php $link = ($data['menu']['tour_code']!='' ?  BASEPATH.'virtualtour' : 'javascript:void();' )  ?>
                                                <!--   target='_blank'-->
                                                <a href="<?php echo $link ?>"  class="nk-menu-link">
                                                    <span class="nk-menu-icon"><em class="icon ni ni-focus"></em></span>
                                                    <span class="nk-menu-text"> Project 360 Virtual Tour  </span>
                                                </a>
                                            </li>

                                            <?php } ?>


                                            <li class="nk-menu-item <?php echo $data['active_menu']=='documents' ? 'active' : '' ?>">
                                                <a href="javascript:void();" class="nk-menu-link">
                                                    <span class="nk-menu-icon"><em class="icon ni ni-files"></em></span>
                                                    <span class="nk-menu-text">Document Briefcase </span>
                                                </a>
                                                <ul class="nk-menu-sub">
                                                    <li class="nk-menu-item <?php echo $data['active_submenu']=='gendoc' ? 'active' : '' ?>"><a href="<?php echo BASEPATH ?>documents" class="nk-menu-link"><span class="nk-menu-text">General Document</span></a></li>
                                                    <li class="nk-menu-item <?php echo $data['active_submenu']=='privdoc' ? 'active' : '' ?>"><a href="<?php echo BASEPATH ?>documents/privatedoc" class="nk-menu-link"><span class="nk-menu-text">Private Documents </span></a></li>
                                                    
                                                </ul>
                                            </li>
                                        <?php } ?>
                                        

                                        <?php if(isset($_SESSION["crm_property_id"])){ ?>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='gallery' ? 'active' : '' ?>">
                                            <a href="javascript:void();" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-img-fill"></em></span>
                                                <span class="nk-menu-text">Gallery  </span>
                                            </a>
                                            <ul class="nk-menu-sub">
                                                <li class="nk-menu-item <?php echo $data['active_submenu']=='communitygallery' ? 'active' : '' ?>"><a href="<?php echo BASEPATH ?>gallery/community" class="nk-menu-link"><span class="nk-menu-text">Community Gallery </span></a></li>
                                                
                                                <li class="nk-menu-item <?php echo $data['active_submenu']=='managegallery' ? 'active' : '' ?>"><a href="<?php echo BASEPATH ?>gallery" class="nk-menu-link"><span class="nk-menu-text">Private Gallery </span></a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='adhoc' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>adhocrequests" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-archived"></em></span>
                                                <span class="nk-menu-text"> Adhoc requests </span>
                                            </a>
                                        </li>
                                       
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='invoice' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>invoice" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                                <span class="nk-menu-text"> Invoices / Receipts  </span>
                                            </a>
                                        </li>

                                        <li class="nk-menu-item <?php echo $data['active_menu']=='payment' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>paymentschedule" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-sign-inr-alt"></em></span>
                                                <span class="nk-menu-text"> Payment Schedule  </span>
                                            </a>
                                        </li>
                                       <?php } ?>
                                        

                                        <!-- <li class="nk-menu-item">
                                            <a href="<?php echo BASEPATH ?>faqs" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-question-alt"></em></span>
                                                <span class="nk-menu-text">FAQ's  </span>
                                            </a>
                                        </li> -->
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='news' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>news" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-article"></em></span>
                                                <span class="nk-menu-text">News</span>
                                            </a>
                                        </li>

                                        <li class="nk-menu-item <?php echo $data['active_menu']=='bank' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>settings" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-money"></em></span>
                                                <span class="nk-menu-text">Bank Info </span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item <?php echo $data['active_menu']=='contact' ? 'active' : '' ?>">
                                            <a href="<?php echo BASEPATH ?>settings/contactinfo" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
                                                <span class="nk-menu-text">Contact Info </span>
                                            </a>
                                        </li>
                                    </ul>
                                   
                                </div><!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="javascript:void();" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>

                                </div><!-- .nk-aside-close -->
                            </div><!-- .nk-aside -->


