/*-----------------------
    Gendral
--------------------------*/

.help_warp span{
  font-size: 18px;
}

/** Donna Galletta | LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

/** videoModal **/
#videoModal {
  border-radius: 0;
  width: 870px;
  margin:auto;}
  #videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
      height:35px; }
    #videoModal .modal-header h3 {
      font-size: 18px;
      line-height: 22px;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;}
  #videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden; }
  #videoModal .modal-footer:empty {
    display: none !important; }
  #videoModal .close {
    background: #DB00B8;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px; }



.error{
  color: red;
}

label.error{
  margin-bottom: 0px;
}

span.italic_content{
  color: red;
  font-size: 11px;
  font-style: italic;
  line-height: 1.40 !important;
}

/*p.result_count{
  margin-bottom: 0 !important;
}*/

.tag_element {
    margin: 0px 0px 0px 0px ;
    display: inline-block;
}

.tag_element .type_name {
    margin: 5px 10px 10px 0px ;
    float: left;
    display: inline-block;
}

.tag_element h5{
  font-size: 1rem !important;
}

.no_display{
  display: none;
}

.mb70{
  margin-bottom: 70px !important;
}

.display_none{
    display: none;
}

.marginleft30{
    margin-left: 30px !important;
}

.mt30{
    margin-top: 30px;
}

.mt15{
  margin-top: 15px;
}

.mb15{
  margin-bottom: 15px !important;
}

.ftsiz20{
  font-size: 20px !important;
}

.marginleft5{
    margin-left: 5px !important;
}

.permission_checkbox label {
    margin-bottom: 10px !important;
}

.verticalalign{
    vertical-align: middle !important;
}


en{
  color: red;
}

.minheight100{
    min-height:500px;
}

.m10{
    margin: 10px 0px 0px 0px;
}

.m11{
    margin: 10px 0px 0px 15px;
}

.no_event {
    padding: 20px;
    border: 2px dashed #ddd;
    margin: 40px auto;
    width: 70%;
    text-align: center;
}

.no_result {
    padding: 15px;
    text-align: center;
    font-size: 13px;
color: #8094ae;
}

.room_no_warp{
    position: relative;
}

.room_no_warp .room_no_dropdown{
    top: -10px;
    right: -5px;
}

.nk-wgw-name.title_warp{
    text-align: center;
display: block;
}

.card-bordered.assigned {
    border: 1px solid #20c997;
    background: rgba(32, 201, 151, 0.5);
    margin-bottom: 15px;
}

.card-bordered.unassigned {
    border: 1px solid #f4bd0e;
    background: rgba(244, 189, 14, 0.5);
    margin-bottom: 15px;
}

.card-bordered.inprogress {
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    margin-bottom: 15px;
}

.mt15{
    margin-top: 15px;
}

.property_chart_warp .card{
    /*background-color: #fff;*/
    border-radius: 4px;
}

.property_chart_warp .card + .card {
    margin-top: 0px;
}

.floor_warp{
    position: relative;
}

.floor_warp .floor_title{
    position: absolute;
    writing-mode: vertical-rl;/*sideways-lr*/
    text-orientation: mixed;
    left: -12px;
}

.small_box_warp{
        width: 11%;
    height: 60px;
    margin: 0px 1px 5px 0px;
    float: left;

}

.small_box_warp .title_warp{
    font-size: 12px !important;
    margin-bottom: 3px !important;
}

.text_center{
    text-align: center;
    padding-top: 5px; 

}

.minheight110{
    min-height: 110px;
}

/*========================
    Page Loading 
========================*/

.page_loading {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0px;
    /*
background: rgba(95, 190, 170,0.5);
background: rgba(255, 255, 255,0.7);
background: rgba(168, 183, 199,0.7);
background: rgba(0, 0, 0,0.7);*/
    background: rgba(46, 60, 84, 0.6);
    display: none;
}

.overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loading_image {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    height: 250px;
    position: fixed;
    top: 33%;
    left: 41%;
    z-index: 11;
    border-radius: 20px;
}

.load_img {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.load_img img {
    width: auto;
    overflow: hidden;
    margin: 45px auto 0 auto;
}

.load_text {
    text-align: center;
    margin: 0px 0 18px 0;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    width: 100%;
}

@media (max-width: 748px) {
    .loading_image {
        background: #FFF;
        width: 180px;
        height: 180px;
        position: fixed;
        top: 33%;
        left: 27%;
        z-index: 11;
        border-radius: 10px;
    }
    .load_img img {
        width: 55%;
        overflow: hidden;
        margin: 25px auto 0 auto;
    }
    .load_text {
        text-align: center;
        margin-top: 0px;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

/*=====================
    File Upload
=======================*/

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    transform: translate(-300px, 0) scale(4);
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileupload {
    padding-left: 0;
    margin-bottom: 20px;
}

.fileupload h4 {
    margin: 0 0 10px;
}

.fileupload .fileupload-preview+div {
    display: inline-block;
    margin-left: 10px;
}

.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.fileupload .thumbnail>img {
    display: block;
    max-height: 100%;
    vertical-align: middle;
}

.fileupload .thumbnail.fileupload-small {
    width: 50px;
    height: 50px;
}

.fileupload .thumbnail.fileupload-small.flexible {
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

.fileupload .thumbnail.fileupload-large {
    width: 160px;
    height: 160px;
    border: 1px solid #ddd;
    padding: 2px;
}

.fileupload .thumbnail.fileupload-large.flexible {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 250px;
}

.fileupload .thumbnail+.btn {
    margin-bottom: 5px;
}

.fileupload .thumbnail+.btn+.btn {
    margin-bottom: 5px;
}

.fileupload .btn {
    vertical-align: middle;
}

.fileupload .form-control {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}

.fileupload .raw.thumbnail {
    border: none;
    border-radius: 0;
    padding: 0;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-new .input-group-addon .btn-file {
    border-radius: 0 4px 4px 0;
}

.fileupload-exists .input-group-addon .btn-file {
    border-radius: 0;
}

/*
========================
  Property Image
========================
*/

.product_image_list_wrap h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.product_image_list_wrap h3 {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.image_list {
    padding: 0;
    margin: 5px 0;
}

.image_list li {
    list-style-type: none;
    display: inline-block;
    width: auto;
    margin: 5px;
}

.image_list li .product_image_item {
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.image_list li .product_image_item img {
    width: 150px;
    border: 1px solid #ddd;
}

.image_list li .product_image_item p {
    margin: 0;
    line-height: 15px;
    padding: 0;
    text-align: right;
    padding: 10px 0 0 0;
}

.image_list li .product_image_item p > a {
    background: #fff;
}

.image_list li .product_image_item p > a:hover {
    color: #fc4a52;
}

.image_list li .product_image_item p > a >i {
    font-size: 1.2em;
}



/*------ Event List V 2.0 --------*/

.event_item_list {
    width: 100%;
    min-height: 120px;
    background: #fff;
    box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
    margin-bottom: 30px;
    position: relative;
}

.event_item_list:hover {
    box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
}

.event_item_list a:hover {
    text-decoration: none;
}

.event_item_list .event_image {
    width: 40%;
    height: 120px;
    float: left;
    position: relative;
}

.event_item_list .event_info {
    float: right;
    width: 60%;
    position: relative;
    padding: 15px;
    height: 120px;
}

.event_item_list .event_info h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
    line-height: 25px;
    font-weight: 600;
}

.event_item_list .info_wrap h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 23px;
    font-weight: 500;
}

.event_item_list .info_wrap h5 {
    font-size: 13.5px;
    margin: 0 0 5px 0;
    line-height: 18px;
    font-weight: lighter;
    color: #5d5d5d;
}

.event_item_list .info_wrap h5 i {
    width: 12px;
    text-align: center;
    margin: 0 5px 0 0;
}

.event_item_list .stats_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px 15px;
    height: 35px;
}

.event_item_list .stats_wrap ul li {
    display: inline-block;
}

.event_item_list .stats_wrap ul li.icons {
    min-width: 25px;
    float: right;
    text-align: center;
    margin-left: 10px;
}

.event_item_list .stats_wrap ul li p {
    color: #666A73;
    margin: 0;
    line-height: 27px;
    font-size: 13px;
}

.event_item_list .stats_wrap ul li p i {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .event_item_list {
        width: 100%;
        min-height: 380px;
        background: #fff;
        box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
        margin-bottom: 30px;
        position: relative;
    }
    .event_item_list:hover {
        box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
    }
    .event_item_list a:hover {
        text-decoration: none;
    }
    .event_item_list .event_image {
        width: 100%;
        height: 150px;
        float: left;
        position: relative;
    }
    .event_item_list .event_info {
        float: right;
        width: 100%;
        position: relative;
        padding: 15px;
        height: 230px;
    }
    .event_item_list .event_info h1 {
        font-size: 18px;
        margin: 0 0 10px 0;
        line-height: 25px;
        font-weight: 600;
    }
    .event_item_list .info_wrap h2 {
        font-size: 16px;
        margin: 0 0 10px 0;
        line-height: 23px;
        font-weight: 500;
    }
    .event_item_list .info_wrap h5 {
        font-size: 13.5px;
        margin: 0 0 5px 0;
        line-height: 18px;
        font-weight: lighter;
        color: #5d5d5d;
    }
    .event_item_list .info_wrap h5 i {
        width: 12px;
        text-align: center;
        margin: 0 5px 0 0;
    }
    .event_item_list .stats_wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 5px 15px;
        height: 35px;
    }
    .event_item_list .stats_wrap ul li {
        display: inline-block;
    }
    .event_item_list .stats_wrap ul li.icons {
        min-width: 25px;
        float: right;
        text-align: center;
        margin-left: 10px;
    }
    .event_item_list .stats_wrap ul li p {
        color: #666A73;
        margin: 0;
        line-height: 27px;
        font-size: 13px;
    }
    .event_item_list .stats_wrap ul li p i {
        opacity: 0.6;
    }
}

/*=========================
        Assign
===========================*/

.reassign_title .title{
  float: left;
}

.reassign_title .change_btn{
  float: right;
}

.card-header{
    .border-bottom: none;
    padding: 30px 30px;
    background: 0 0;
    font-size: 12px
}

.form-control.search {
    font-family: Montserrat, sans-serif;
    z-index: 0;
    height: 45px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #dedede;
    font-size: 14px;
    color: #333;
    padding: 5px 10px
}

/* Dropdown */

.dropdown-menus {
    padding: 0px 0;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 100%
}

.dropdown-menus>li>a {
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    display: block;
}


.dropdown-menus>li>a:hover {
    padding: 5px 10px;
    background: #42a5f5;
    font-size: 13px;
    color: #fff;
    display: block;
}


.dropup .dropdown-menus {
    box-shadow: 0px -1px 5px 0 rgba(0, 0, 0, 0.26);
}



/* =============
   Timelines
============= */
.cd-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative;
}
#cd-timeline::before {
  background: #ffffff;
  content: '';
  height: 100%;
  left: 18px;
  position: absolute;
  top: 0;
  width: 4px;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 25%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  margin: 2em 0;
  position: relative;
}
.cd-timeline-block:after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
}
.cd-timeline-img.cd-success {
  background: #81c868;
}
.cd-timeline-img.cd-info {
  background: #34d3eb;
}
.cd-timeline-img.cd-pink {
  background: #fb6d9d;
}
.cd-timeline-img.cd-danger {
  background: #f05050;
}
.cd-timeline-img.cd-primary {
  background: #5d9cec;
}
.cd-timeline-img.cd-warning {
  background: #ffbd4a;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 25%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
.cd-timeline-content {
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 0;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  padding: 1em;
  position: relative;
}
.cd-timeline-content img {
  display: block;
  width: 100%;
}

.cd-timeline-content i{
  font-size: 21px;
}
.cd-timeline-content:after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  margin-top: 0;
}
.cd-timeline-content p {
  color: #666666;
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}

.cd-timeline-content p span.calllog_remarks{
  color: #666666;
  font-size: 13px;
  margin: 10px 0px 10px 0px;
}

.cd-timeline-content .cd-read-more {
  background: #acb7c0;
  border-radius: 0.25em;
  color: white;
  display: inline-block;
  float: right;
  font-size: 14px;
  padding: .8em 1em;
}
.cd-timeline-content .cd-date {
  display: inline-block;
  font-size: 14px;
}
.cd-timeline-content h3 {
  font-size: 16px;
  margin: 0px;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 68%;
    float: right;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
/* Time line 2 */
.timeline-2 {
  border-left: 2px solid #98a6ad;
  position: relative;
}
.timeline-2 .time-item:after {
  background-color: #ffffff;
  border-color: #98a6ad;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.time-item {
  border-color: #dee5e7;
  padding-bottom: 1px;
  position: relative;
}
.time-item:before {
  content: " ";
  display: table;
}
.time-item:after {
  background-color: #ffffff;
  border-color: #98a6ad;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.time-item-item:after {
  content: " ";
  display: table;
}
.item-info {
  margin-bottom: 15px;
  margin-left: 15px;
}
.item-info p {
  margin-bottom: 10px !important;
}

.editactivity_warp{
  position: relative;
}

.editactivity_warp .editwarp{
  position: absolute;
  right: 15px;
  top: 15px;
}

.panel.panel-default{
  background: #fff;
  padding: 15px;
}

.note-editor.panel.panel-default{
  background: #f4f8fb;
  padding: 0px !important;
}

.note-editor.panel.panel-default .btn-default{
    color: #ffffff !important;
    background-color: #5fbeaa !important;
    border: 1px solid #5fbeaa !important;
}


.open>.dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}



.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    position: relative;
    background-color: #ffffff;
}



.chapter_locations_wrap .selected_locations {
    /*background: rgb(76, 175, 80,.2);*/
    background: #fff;
    padding: 8px 8px;
    margin-bottom: 5px;
    font-size: 14px;
}

.chapter_locations_wrap .selected_locations i {
    font-size: 1.1em;
    cursor: pointer;
    color: #fc4a52;
}



/*---------------------------------------------
            Adhoc Multi image    
-----------------------------------------------*/

.post_form_wrap .image_attach_wrap {
    padding: 0 10px;
}


/* Write a post */

.post_an_item_wrap {
   /* background: #fff;
    margin: 0 0 45px 0;*/
    /*box-shadow: rgba(34, 34, 34, 0.15) 0 15px 30px;*/
   /* box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
    border-radius: 5px;*/
}

.post_an_item_wrap .post_header {
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.post_an_item_wrap .post_header h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 25px;
}

.post_an_item_wrap .post_topic {
    padding: 10px 5px;
    background: #fff;
}

.post_an_item_wrap .form-control.post_title {
    margin: 0px 0 0px 0;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.post_an_item_wrap .post_topic h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 10px;
    line-height: 23px;
}

.post_an_item_wrap .post_topic .topic_list li {
    display: inline-block;
    margin: 5px;
}

.post_an_item_wrap .post_topic .topic_list li.no_display {
    display: none;
}

.post_an_item_wrap .post_topic .topic_list li.hide_topic_li {
    display: inline-block;
}

.post_an_item_wrap .post_topic .topic_list li button {
    background: #fff;
    padding: 7px 15px 7px 40px;
    display: block;
    position: relative;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 21px;
    color: #6c7a86;
}

.post_an_item_wrap .post_topic .topic_list li button:hover {
    color: inherit;
    box-shadow: rgba(34, 34, 34, 0.15) 0 5px 10px;
    background: #fff;
    border: 1px solid rgba(34, 34, 34, 0.2);
}

.post_an_item_wrap .post_topic .topic_list li button img {
    width: 28px;
    position: absolute;
    top: 3px;
    left: 4px;
}

.post_an_item_wrap .current_images_wrap {
    padding: 10px 0;
}

.post_an_item_wrap .image_attach_wrap {
    padding: 0 10px;
}

.post_an_item_wrap .image_attach_wrap h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 0px 0px;
    line-height: 23px;
}

.post_an_item_wrap .errmsgs {
    padding: 2px 10px;
    margin-top: 5px;
}

.post_an_item_wrap .post_box_footer {
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
}

.post_an_item_wrap .post_box_footer .selector {
    /*width: 80%;*/
    float: left;
    position: relative;
    padding: 7px 10px;
}

.post_an_item_wrap .post_box_footer .selector .attachment {
    position: absolute;
    top: 5px;
    left: 10px;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li {
    display: inline-block;
    margin: 0 2px 0 0;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li button {
    /* border: 1px solid #ccc;
    border-radius: 50px;*/
    border: none;
    box-shadow: none;
    width: 200px;
    height: 35px;
    background: transparent;
    text-align: left;
    font-size: 15px;
    color: #6c7a86;
    line-height: 35px;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li button:hover {
    color: inherit;
}

.post_an_item_wrap .post_box_footer .selector .drop {
    width: 55%;
    float: right;
}

.post_an_item_wrap .post_box_footer .selector h3 {
    position: absolute;
    right: 55%;
    top: 0;
    width: auto;
    font-size: 15px;
    margin: 0;
    line-height: 50px;
    text-align: right;
    padding: 0 10px;
}

.post_an_item_wrap .post_box_footer .btn-primary {
    float: left;
    width: 20%;
    height: 50px;
    border-radius: 0 0 5px 0;
}

.post_an_item_wrap .close_post_wrap {
    position: absolute;
    top: 5px;
    right: 10px;
    box-shadow: none;
    border: none;
    background: #fff;
    font-size: 23px;
    color: #6c7a86;
    opacity: 0.7;
}

.post_an_item_wrap .close_post_wrap:hover {
    opacity: 1;
}

.postwall_bg {
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1049;
}

.postwall_wrap {
    position: fixed;
    z-index: 1050;
    top: 15%;
    left: 30%;
    width: 40%;
}

.post_topic .post_share{
    padding: 10px 10px 5px 10px;
}


@media (max-width: 768px) {
    .postwall_wrap {
        position: absolute;
        z-index: 1050;
        top: 0%;
        left: 0%;
        width: 100%;
        overflow-y: scroll;
    }

    .post_an_item_wrap {
        border-radius: 0px;
    }

    .post_details.edit {
        position: absolute;
        top: 10%;
        z-index: 1047;
        margin-bottom: 200px;
        width: 90%;
        left: 5%;
        border-radius: 5px;
    }

    .post_an_item_wrap .post_box_footer .selector {
        width: 100%;
        float: left;
        position: relative;
        padding: 7px 10px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment {
        position: absolute;
        top: 8px;
        left: 0px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li {
        display: inline-block;
        margin: 0 2px 0 0;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li button {
        /* border: 1px solid #ccc;
    border-radius: 50px;*/
        border: none;
        box-shadow: none;
        width: 35px;
        height: 35px;
        background: transparent;
        text-align: center;
        font-size: 1.4em;
        color: #6c7a86;
        line-height: 35px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li button:hover {
        color: inherit;
    }

    .post_an_item_wrap .post_box_footer .selector .drop {
        width: 65%;
        float: right;
    }

    .post_an_item_wrap .post_box_footer .selector h3 {
        position: absolute;
        right: 63%;
        top: 0;
        width: auto;
        font-size: 13px;
        margin: 0;
        line-height: 50px;
        text-align: right;
        padding: 0 10px;
    }

    .post_an_item_wrap .post_box_footer .btn-primary {
        float: left;
        width: 100%;
        height: 50px;
        border-radius: 0 0 0px 0px;
    }

    .post_drop_down .dropdown-menu {
        position: absolute;
        width: 200px;
        z-index: 1051;
        float: left;
        padding: 0px 0;
        margin: 0;
        background: #fff;
        border-radius: 0;
        border-color: #d8e2e7;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        background-clip: padding-box;
    }
}


/*------------------------------
          Scroll
--------------------------------*/

.FixedHeightContainer
{
  /*float:right;*/
  height: 255px;
  width:100%; 
  padding:3px; 
  background:#fff;
}
.Content_box
{
  height:224px;
  overflow:auto;
  background:#fff;
}



/*---------------------------------------------
        Home popup  
-----------------------------------------------*/

.branch_select {
    padding: 0;
}

.branch_select li {
    list-style-type: none;
    margin: 10px 0;
}

.branch_select li a {
    display: block;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.modal-header .closes {
    padding: 1rem 1.25rem;
    margin: -1rem -1.25rem -1rem auto;
}

.closes {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}