<div class="modal fade videoShowModel" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-sm modal-dialog-centered  " role="document">
        <div class="modal-content video">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div id="video"></div>
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div>    
    <?php if(($_SESSION['tenant_id']==1)) { ?>

        <?php if(($_SESSION['crm_project_count']>1)) { ?>
            <?php if(!isset($_SESSION['crm_project_id'])){ ?>
            <div class="modal-backdrop fade show"></div>
                <div class="modal fade show" tabindex="-1" id="modalDefault" style="display: block; padding-right: 17px;" aria-modal="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select the Project</h5>
                            <a href="<?php echo COREPATH ?>" class="closes" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="margin-bottom: 0px;">Select Project <en>*</en></label>
                                        <ul class="branch_select">
                                            <?php echo $data['project_items'] ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <?php } ?>
        <?php } ?>
            <div class="modal fade " tabindex="-1" id="propertyModel" aria-modal="true">
                <div class="modal-dialog modal-dialog-top" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Select the Project</h5>
                            <a href="<?php echo COREPATH ?>" class="closes" data-dismiss="modal" aria-label="Close">
                                <em class="icon ni ni-cross"></em>
                            </a>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="margin-bottom: 0px;">Select Project <en>*</en></label>
                                        <ul class="branch_select">
                                            <?php echo $data['project_items'] ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div> 

    <?php } ?>

    <!-- JavaScript -->
    <script src="<?php echo JSPATH ?>bundle.js?ver=1.5.0"></script>
    <script src="<?php echo JSPATH ?>scripts.js?ver=1.5.0"></script>
    <script src="<?php echo PLUGINS ?>charts/gd-general.js?ver=1.5.0"></script>

    <script src="<?php echo PLUGINS ?>apps/file-manager.js?ver=1.5.0"></script>

    <script src="<?php echo JSPATH ?>validate.min.js"></script>
	<script src="<?php echo JSPATH ?>user.js"></script>
	<script src="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.min.js"></script>
    <script src="<?php echo PLUGINS ?>noty/noty.min.js"></script>
    <script type="text/javascript" src="<?php echo PLUGINS ?>fileupload/bootstrap-fileupload.js"></script>
    
    
    <script type="text/javascript">
       $('.datatable-inits').DataTable( {
            buttons: [
                {
                    extend: 'columnVisibility',
                    text: 'Show all',
                    visibility: true
                },
                
            ]
        } );
    </script>

    

    <script type="text/javascript" charset="utf-8" async defer>
    // multiple images
    var documents_row = <?php echo $documents_row ?>;
    $i = 1;
    function addDocumentsName() {
        html = '<tr id="documents-row' + documents_row + '">';
        html += '  <td class="text-left"><input type="text" name="documents_row[' + documents_row + '][name]" value="" placeholder="Enter Name" class="form-control" required /></td>';
        html += '  <td class="text-left"><input type="text" name="documents_row[' + documents_row + '][description]" value="" placeholder="Enter Description" class="form-control" /></td>';
        html += '  <td class="text-center"><button type="button" onclick="$(\'#documents-row' + documents_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
        html += '</tr>';
        html += '<tr></tr>';
        $('#documents tbody').append(html);
        documents_row++;
        $i++;
    }


    </script>


    <?php if (isset($data['scripts'])) { ?> 
        <?php if ($data['scripts']=="managelead" || $data['scripts']=="leadreports" || $data['scripts']=="managecustomer" || $data['scripts']=="importdata" ) { ?>
            <script src="<?php echo PLUGINS ?>datatables-net/media/js/jquery.dataTables.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatables-net/media/js/dataTables.bootstrap4.min.js"></script>
            <!-- Required datatable js -->
            <script src="<?php echo PLUGINS ?>datatable/jquery.dataTables.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatable/dataTables.bootstrap4.min.js"></script>
            <!-- Responsive examples -->
            <script src="<?php echo PLUGINS ?>datatable/dataTables.responsive.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatable/responsive.bootstrap4.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    // Default Datatable
                    $('#datatable').DataTable();
                    // Responsive Datatable
                    $('#responsive-datatable').DataTable();
                });
            </script>
        <?php } ?>


        <?php if ($data['scripts']=="addproperty"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var property_row = <?php echo $property_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="properts-row' + property_row + '">';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][room_name]" value="" placeholder="Enter Room Name" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][type]" value="" placeholder="Enter a Type" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][sqft]" value="" placeholder="Enter Sqft " class="form-control" required/></td>';

                html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="text-center"><button type="button" onclick="$(\'#properts-row' + property_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#propert tbody').append(html);
                property_row++;
                $i++;
            }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addcontactinfo"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
                // multiple images

                var contacts_row = <?php echo $contacts_row ?>;

                $i = 1;
                function addContacts() {
                    html = '<tr id="contacts-row' + contacts_row + '">';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][name]" value="" placeholder="Enter Name" class="form-control" required /></td>';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][designation]" value="" placeholder="Enter Designation / Role" class="form-control" /></td>';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][mobile]" value="" placeholder="Enter Mobile Number" class="form-control" required/></td>';

                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][email]" value="" placeholder="Enter Email" class="form-control" /></td>';
                    html += '  <td class="text-center"><button type="button" onclick="$(\'#contacts-row' + contacts_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                    html += '</tr>';
                    html += '<tr></tr>';
                    $('#contacts tbody').append(html);
                    contacts_row++;
                    $i++;
                }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addimages") {   //  ?>
            <script src="<?php echo JSPATH ?>jquery.min.js"></script>

            <script type="text/javascript" src="<?php echo PLUGINS ?>jquery-quicksearch/jquery.quicksearch.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>select2/select2.min.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>bootstrap-select/dist/js/bootstrap-select.min.js"></script>
            <script src="<?php echo PLUGINS ?>bootstrap-filestyle/src/bootstrap-filestyle.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>fileupload/bootstrap-fileupload.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>multifile/jquery.filer.min.js"></script>
            <script type="text/javascript">
             jQuery(document).ready(function(){
                $('#input2').filer({
                    limit: 10,
                    maxSize: 40,
                    extensions: null,
                    changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Click Here to Upload Images</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
                    showThumbs: true,
                    appendTo: null,
                    theme: "dragdropbox",
                    templates: {
                        box: '<ul class="jFiler-item-list"></ul>',
                        item: '<li class="jFiler-item">\
                                    <div class="jFiler-item-container">\
                                        <div class="jFiler-item-inner">\
                                            <div class="jFiler-item-thumb">\
                                                <div class="jFiler-item-status"></div>\
                                                <div class="jFiler-item-info">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                </div>\
                                                {{fi-image}}\
                                            </div>\
                                            <div class="jFiler-item-assets jFiler-row">\
                                                <ul class="list-inline pull-left">\
                                                    <li>{{fi-progressBar}}</li>\
                                                </ul>\
                                                <ul class="list-inline pull-right">\
                                                    <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                </ul>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </li>',
                        itemAppend: '<li class="jFiler-item">\
                                    <div class="jFiler-item-container">\
                                        <div class="jFiler-item-inner">\
                                            <div class="jFiler-item-thumb">\
                                                <div class="jFiler-item-status"></div>\
                                                <div class="jFiler-item-info">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                </div>\
                                                {{fi-image}}\
                                            </div>\
                                            <div class="jFiler-item-assets jFiler-row">\
                                                <ul class="list-inline pull-left">\
                                                    <span class="jFiler-item-others">{{fi-icon}} {{fi-size2}}</span>\
                                                </ul>\
                                                <ul class="list-inline pull-right">\
                                                    <li><a data-name="{{fi-name}}" class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                </ul>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </li>',
                        progressBar: '<div class="bar"></div>',
                        itemAppendToEnd: false,
                        removeConfirmation: false,
                        _selectors: {
                            list: '.jFiler-item-list',
                            item: '.jFiler-item',
                            progressBar: '.bar',
                            remove: '.jFiler-item-trash-action',
                        }
                    },
                    addMore: true
                });
              });

            </script>
            <script type="text/javascript" src="<?php echo JSPATH ?>masonry-docs.min.js"></script>
            <script type="text/javascript">
                $(window).load(function() {
                    $('#masonry').masonry({
                        itemSelector: '.col-masonry'
                    });
                });
                function masonryInt () {
                    $('#masonry').masonry({
                        itemSelector: '.col-masonry'
                    });
                }
            </script>
        <?php } ?>
        
        <?php if ($data['scripts']=="addflattype"  ) { ?>

            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var flattype_row = <?php echo $flattype_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="flattype-row' + flattype_row + '">';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][room_type]" value="" placeholder="Enter room type" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][sqft]" value="" placeholder="Enter Sqft " class="form-control" required/></td>';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][description]" value="" placeholder="Enter a description" class="form-control" /></td>';
                
                html += '  <td class="text-center"><button type="button" onclick="$(\'#flattype-row' + flattype_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#flattype tbody').append(html);
                flattype_row++;
                $i++;
            }
            </script>
        <?php } ?>


        <?php if ($data['scripts']=="adhoc"  ) { ?>
        
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var adhoc_row = <?php echo $adhoc_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="adhoc-row' + adhoc_row + '">';
                html += '  <td class="text-left"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="text-center"><button type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#adhoccontent tbody').append(html);
                adhoc_row++;
                $i++;
            }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addadhoc"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var adhoc_row = <?php echo $add_adhoc_row ?>;
            $i = 1;
            function addPropertyAdhoc() {
                html = '<tr id="adhoc-row' + adhoc_row + '">';
                html += '  <td class="tb-col-os" width="55%"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                html += '  <td class="tb-col-ip" width="35%"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="tb-col-action"><a type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#addadhoccontent tbody').append(html);
                adhoc_row++;
                $i++;
            }
            </script>

        <?php } ?>

        <?php if ($data['scripts']=="assigncalls") { ?>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/jquery-ui.min.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/init.js"></script>

            <!-- Contact Type Auto Complete -->
            <script type="text/javascript" charset="utf-8" async defer>
            $('input[name=\'employee\']').autocomplete({
                'source': function(request, response) {
                    $.ajax({
                        url: core_path + 'resource/ajax_redirect.php?page=employeeAutoComplete&filter_name=' + encodeURIComponent(request),
                        dataType: 'json',
                        success: function(json) {

                            response($.map(json, function(item) {
                                return {
                                    value: item.id,
                                    label: item.name,
                                    emp: item.emp_name,
                                    gender: item.gender,
                                    mob: item.mobile,
                                    mail: item.email,
                                    addr: item.address,
                                }
                            }));
                        }
                    });
                },
                'select': function(item) {
                    $('input[name=\'employee_id\']').val(item['value']);
                    $('input[name=\'employee\']').val(item['label']);

                    $('#employee_name').html(item['emp']);
                    $('#emp_gender').html(item['gender']);
                    $('#mobile').html(item['mob']);
                    $('#email').html(item['mail']);
                    $('#address').html(item['addr']);

                    $("#employee_info").removeClass("display_none");
                    $("#reassign_warp").removeClass("display_none");
                    $("#dropdown_employee").attr("disabled", true);
                    if (item['value'] == "0") {
                        $('#employee_name').html('');
                        $('#emp_gender').html('');
                        $('#mobile').html('');
                        $('#email').html('');
                        $('#address').html('');

                        $("#employee_info").addClass("display_none");
                        $("#reassign_warp").addClass("display_none");
                        $("#dropdown_employee").attr("disabled", false);
                    }
                }
            });
            </script>
            <script type="text/javascript" charset="utf-8" async defer>
            $('input[name=\'reassign_employee\']').autocomplete({
                'source': function(request, response) {
                    var emp_id = $("#assign_employee_id").val();
                    $.ajax({
                        url: core_path + 'resource/ajax_redirect.php?page=reassignEmployeeAutoComplete&filter_name=' + encodeURIComponent(request) + '&emp_id=' + emp_id,
                        dataType: 'json',
                        success: function(json) {

                            response($.map(json, function(item) {
                                return {
                                    value: item.id,
                                    label: item.name,
                                    emp: item.emp_name,
                                    gender: item.gender,
                                    mob: item.mobile,
                                    mail: item.email,
                                    addr: item.address,
                                }
                            }));
                        }
                    });
                },
                'select': function(item) {
                    $('input[name=\'employee_id\']').val(item['value']);
                    $('input[name=\'reassign_employee\']').val(item['label']);

                    $('#employee_name').html(item['emp']);
                    $('#emp_gender').html(item['gender']);
                    $('#mobile').html(item['mob']);
                    $('#email').html(item['mail']);
                    $('#address').html(item['addr']);

                    $("#employee_info").removeClass("display_none");
                    $("#reassign_warp").removeClass("display_none");
                    $("#dropdown_employee").attr("disabled", true);
                    if (item['value'] == "0") {
                        $('input[name=\'customer_id\']').val('');
                        $('input[name=\'customer\']').val('');
                        $('#employee_name').html('');
                        $('#emp_gender').html('');
                        
                        $('#mobile').html('');
                        $('#email').html('');
                        $('#address').html('');
                        $("#employee_info").addClass("display_none");
                        $("#reassign_warp").addClass("display_none");
                        $("#dropdown_employee").attr("disabled", false);
                    }
                }
            });
            </script>

        <?php } ?>

        <?php if ($data['scripts']=="addnews"  ) { ?>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/init.js"></script>
            <script type="text/javascript" charset="utf-8" async defer>
                $('input[name=\'customers\']').autocomplete({
                    'source': function(request, response) {
                        //var emp_id = $("#employee_id").val();
                        $('#selected-assistants').removeClass("display_none");
                        //$('#selected-assistants' + emp_id).remove();
                        $.ajax({
                            url: core_path + 'resource/ajax_redirect.php?page=searchCustomerJson&filter_name=' + encodeURIComponent(request),
                            dataType: 'json',
                            success: function(json) {
                                response($.map(json, function(item) {
                                    //alert(item);
                                    return {
                                        category: item['category_name'],
                                        label: item['name'],
                                        value: item['id']
                                    }
                                }));
                            }
                        });
                    },
                    'select': function(item) {
                        $('input[name=\'customers\']').val('');
                        $('#selected-assistants' + item['value']).remove();
                        if (item['value'] != 0) {
                            $('#selected-assistants').append('<div id="selected-assistants' + item['value'] + '" class="selected_locations" ><em class="icon ni ni-minus-circle remove_country" style="color: red;"></em> ' + item['label'] + '<input type="hidden" name="assistants_selected[]" value="' + item['value'] + '" /></div>');
                        }
                    }
                });
                $('#selected-assistants').delegate('.remove_country', 'click', function() {
                    $(this).parent().remove();
                });
            </script>


            <script type="text/javascript" charset="utf-8" async defer>
                $('input[name=\'editcustomers\']').autocomplete({
                    'source': function(request, response) {
                        var cust_ids = $("#customer_ids").val();
                        //alert(cust_ids);
                        //$('#selected-assistants').removeClass("display_none");
                        //$('#selected-assistants' + cust_ids).remove();
                        $.ajax({
                            url: core_path + 'resource/ajax_redirect.php?page=searchEditCustomerJson&filter_name=' + encodeURIComponent(request) + '&cust_ids=' + cust_ids ,
                            dataType: 'json',
                            success: function(json) {
                                response($.map(json, function(item) {
                                    return {
                                        category: item['category_name'],
                                        label: item['name'],
                                        value: item['id']
                                    }
                                }));
                            }
                        });
                    },
                    'select': function(item) {
                        $('input[name=\'customers\']').val('');
                        $('#selected-assistants' + item['value']).remove();
                        if (item['value'] != 0) {
                            $('#selected-assistants').append('<div id="selected-assistants' + item['value'] + '" class="selected_locations" ><em class="icon ni ni-minus-circle remove_country" style="color: red;"></em> ' + item['label'] + '<input type="hidden" name="assistants_selected[]" value="' + item['value'] + '" /></div>');
                        }
                    }
                });
                $('#selected-assistants').delegate('.remove_country', 'click', function() {
                    $(this).parent().remove();
                });
            </script>

        <?php } ?>



    <?php } ?>
    

    <script src="<?php echo PLUGINS ?>summernote/dist/summernote.min.js"></script>
    <script>

        jQuery(document).ready(function(){

            $('.summernote').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });
        });
    </script>


</body>

</html>