 <div class="nk-app-root">
        <!-- wrap @s -->
    <?php if(($_SESSION['tenant_id']==1)) { ?>

        <?php if(isset($_SESSION['mastersettings'])) { ?>

            <?php if($_SESSION['lead_type']==1 || $_SESSION['activity_type']==1 || $_SESSION['lead_source']==1 || $_SESSION['profile_master']==1 || $_SESSION['general_documents']==1 || $_SESSION['document_checklist']==1 || $_SESSION['block']==1 || $_SESSION['floor']==1 || $_SESSION['flat_type']==1 || $_SESSION['brochure']==1 || $_SESSION['contact_info']==1 || $_SESSION['payment_info']==1 || $_SESSION['area_master']==1 || $_SESSION['department']==1 || $_SESSION['role_master']==1 || $_SESSION['kycdoc_type']==1 || $_SESSION['company']==1 || $_SESSION['trash']==1 || $_SESSION['upload_video']==1  ) { ?>

             <div class="nk-main " id="">
                <!-- sidebar @s -->
                <div class="nk-sidebar nk-sidebar-fixed is-dark " id="master_settings_display" data-content="sidebarMenu">
                    
                    <div class="nk-sidebar-element">
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">
                                    
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Master Settings</h6>
                                    </li><!-- .nk-menu-item -->
                                    <?php if($_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='helpdocs' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/project" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-building"></em></span>
                                            <span class="nk-menu-text">Project Master</span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['lead_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='leadtype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>lead/leadtype" class="nk-menu-link " data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-call-alt"></em></span>
                                            <span class="nk-menu-text">Lead Status Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                     <?php }?>
                                    <?php if($_SESSION['activity_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='activitytype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>lead/activetype" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-calendar-booking"></em></span>
                                            <span class="nk-menu-text">Activity Type Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['lead_source']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='leadsource' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>lead/leadsource" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-network"></em></span>
                                            <span class="nk-menu-text">Lead Source Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['profile_master']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='customerprofile' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>lead/customerprofile" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-briefcase"></em></span>
                                            <span class="nk-menu-text">Lead Profile Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['general_documents']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='documents' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>documents" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                            <span class="nk-menu-text">General Documents for all units Master </span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['document_checklist']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='flatdocuments' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>documents/project" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-eye-off"></em></span>
                                            <span class="nk-menu-text">Private Document list for every unit Master </span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['block']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='block' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>block" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-view-x5"></em></span>
                                            <span class="nk-menu-text">Block Settings Master </span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['floor']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='floor' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>floor" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-view-x7"></em></span>
                                            <span class="nk-menu-text">Floor Settings Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['flat_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='flattype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>flattype" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                            <span class="nk-menu-text">Flat Type settings Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['brochure']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='brochure' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>propertybrochure" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-pdf"></em></span>
                                            <span class="nk-menu-text">Property Brochure</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['contact_info']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='contactinfo' ? 'active' : '' ?>">

                                        <a href="<?php echo COREPATH ?>contactinfo" class="nk-menu-link"  data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-contact"></em></span>
                                            <span class="nk-menu-text">Contact Information Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['payment_info']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='paymentinfo' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>paymentinfo" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
                                            <span class="nk-menu-text">Payment Information  Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['area_master']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='area' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>propertyarea" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-home-alt"></em></span>
                                            <span class="nk-menu-text">Property Area Master</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>
                                    <?php if($_SESSION['department']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item  <?php echo $data['active_menu']=='department' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>department" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
                                            <span class="nk-menu-text">Department</span>
                                        </a>
                                    </li>
                                    <?php }?>
                                    <?php if($_SESSION['role_master']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='role' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/role" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                            <span class="nk-menu-text">Employee Role Master</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='role' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/stage" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-money"></em></span>
                                            <span class="nk-menu-text">Payment Stage Master</span>
                                        </a>
                                    </li>


                                    <?php }?>
                                    <?php if($_SESSION['kycdoc_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='kyctype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/kyctype" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text">KYC Document Types Master</span>
                                        </a>
                                    </li>
                                    <?php }?>
                                    <?php if($_SESSION['company']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='companysettings' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>companysettings" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-building"></em></span>
                                            <span class="nk-menu-text"> Company Settings</span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['trash']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='trash' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>property/trash" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-trash"></em></span>
                                            <span class="nk-menu-text">Trash Property</span>
                                        </a>
                                    </li>
                                    <?php }?>
                                    <?php if($_SESSION['upload_video']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='helpdocs' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/helpdocs" class="nk-menu-link" data-original-title="" title="">
                                            <span class="nk-menu-icon"><em class="icon ni ni-video"></em></span>
                                            <span class="nk-menu-text">Upload Videos</span>
                                        </a>
                                    </li>
                                    <?php }?>
                                    
                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-sidebar-menu -->
                        </div><!-- .nk-sidebar-content -->
                    </div><!-- .nk-sidebar-element -->
                </div>

            <?php } ?>
        <?php }?>

    <?php }?>

        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fluid is-theme">
                <div class="">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand">
                            <a href="<?php echo COREPATH ?>" class="logo-link mastermenu_click" data-value=''>
                                <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo2x.png 2x" alt="logo">
                                
                            </a>
                        </div><!-- .nk-header-brand -->
                        <div class="nk-header-menu" data-content="headerNav">
                            <div class="nk-header-mobile">
                                <div class="nk-header-brand">
                                    <a href="<?php echo COREPATH ?>" class="logo-link">
                                        <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo2x.png 2x" alt="logo">
                                    </a>
                                </div>
                                <div class="nk-menu-trigger mr-n2">
                                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                                </div>
                            </div>
                            <!-- Menu -->
                            <ul class="nk-menu nk-menu-main">
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>" class="nk-menu-link mastermenu_click" data-value=''>
                                        <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>

                            <?php if(($_SESSION['tenant_id']==1)) { ?>

                                <?php if($_SESSION['lead']==1 || $_SESSION['manage_lead']==1 || $_SESSION['import_lead']==1 || $_SESSION['super_admin']==1  ) { ?>
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['lead']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">Lead </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_lead']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Add a new Lead</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['manage_lead']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Manage existing Leads</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['import_lead']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>importdata" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Import Leads from excel sheet </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['customers']==1 || $_SESSION['manage_customer']==1 || $_SESSION['kyc_documents']==1 || $_SESSION['invoice']==1 || $_SESSION['import_customer']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['customers']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">Customer </span>
                                    </a>
                                    <?php }?>

                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>customer/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Add a new customer</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>customer" class="nk-menu-link mastermenu_click" data-value='' >
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Manage existing customer </span>
                                            </a>
                                        </li>
                                        
                                        <?php }?>

                                        <?php if($_SESSION['kyc_documents']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>customer/kyc" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-files"></em></span>
                                                <span class="nk-menu-text">KYC Documents Management</span>
                                            </a>
                                        </li>
                                        <?php }?>

                                        <!-- <?php if($_SESSION['adhoc_request']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>adhoc" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Adhoc Request  </span>
                                            </a>
                                        </li>
                                        <?php }?> -->

                                        <?php if($_SESSION['invoice']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>invoice/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                                <span class="nk-menu-text">Add new Invoice / Receipt</span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>invoice" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                                <span class="nk-menu-text">Manage existing Invoices / Receipts</span>
                                            </a>
                                        </li>
                                        <?php }?> 
                                        <?php if($_SESSION['import_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>importcustomerdata" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Import Customer data from excel sheet</span>
                                            </a>
                                        </li>
                                        <?php }?> 
                                    </ul>
                                </li>
                                <?php }?>

                                 <?php if($_SESSION['property']==1 || $_SESSION['manage_property']==1 || $_SESSION['property_chart']==1 || $_SESSION['gallery']==1  || $_SESSION['general_documents']==1 || $_SESSION['super_admin']==1 ) { ?> 
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['property']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">Property  </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_property']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>property" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Manage Property  </span>
                                            </a>
                                        </li>
                                       <?php }?>
                                       <?php if($_SESSION['property_chart']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>property/chart" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Property Chart  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['general_documents']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>documents/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Add a new General document to unit  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['gallery']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>gallery" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-img"></em></span>
                                                <span class="nk-menu-text">Manage Gallery </span>
                                            </a>
                                        </li>
                                        <?php }?>


                                        
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['is_manager']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                
                                    <?php if($_SESSION['adhoc']==1 || $_SESSION['open_request']==1 || $_SESSION['close_request']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                    <li class="nk-menu-item active has-sub">
                                        <?php if($_SESSION['property']==1 || $_SESSION['super_admin']==1) { ?>
                                        <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                            <span class="nk-menu-text">Adhoc   </span>
                                        </a>
                                        <?php }?>
                                        <ul class="nk-menu-sub">
                                            <?php if($_SESSION['open_request']==1 || $_SESSION['close_request']==1 || $_SESSION['super_admin']==1) { ?>
                                            <li class="nk-menu-item">
                                                <a href="<?php echo COREPATH ?>adhoc/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                    <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                    <span class="nk-menu-text">Add a new Adhoc request</span>
                                                </a>
                                            </li>
                                            <?php }?>
                                             <?php if($_SESSION['open_request']==1 || $_SESSION['super_admin']==1) { ?>
                                            <li class="nk-menu-item">
                                                <a href="<?php echo COREPATH ?>adhoc" class="nk-menu-link mastermenu_click" data-value=''>
                                                    <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                    <span class="nk-menu-text">Manage Open Requests</span>
                                                </a>
                                            </li>
                                            <?php }?>
                                            <?php if($_SESSION['close_request']==1 || $_SESSION['super_admin']==1) { ?>
                                            <li class="nk-menu-item">
                                                <a href="<?php echo COREPATH ?>adhoc/closed" class="nk-menu-link mastermenu_click" data-value=''>
                                                    <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                    <span class="nk-menu-text">Manage Closed Requests</span>
                                                </a>
                                            </li>
                                            <?php }?>
                                            <!-- <li class="nk-menu-item">
                                                <a href="<?php echo COREPATH ?>adhoc/add" class="nk-menu-link" >
                                                    <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                    <span class="nk-menu-text">Add a Request</span>
                                                </a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="<?php echo COREPATH ?>adhoc/all" class="nk-menu-link" >
                                                    <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                    <span class="nk-menu-text">All Request</span>
                                                </a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <?php }?>
                                <?php }?>
                               
                                <?php if($_SESSION['news']==1 || $_SESSION['manage_news']==1 || $_SESSION['super_admin']==1) { ?> 
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['news']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">News </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_news']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>news/add" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Add News   </span>
                                            </a>
                                        </li>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>news" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Manage Published News   </span>
                                            </a>
                                        </li> 
                                        <?php }?>                                       
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['settings']==1 || $_SESSION['employee']==1 || $_SESSION['manage_department']==1 || $_SESSION['virtual_tour']==1 || $_SESSION['notification']==1 || $_SESSION['super_admin']==1 ) { ?> 

                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['settings']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">Settings </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['employee']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>employee" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Manage Employee </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['manage_department']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text"> Manage Departments  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['virtual_tour']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/virtualtour" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-plus"></em></span>
                                                <span class="nk-menu-text">360 Virtual Tour Settings </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['notification']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/notification" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-emails"></em></span>
                                                <span class="nk-menu-text"> Notification Emails   </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['reports']==1 || $_SESSION['adhoc_report']==1 || $_SESSION['lead_report']==1 || $_SESSION['customer_report']==1 || $_SESSION['kyc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['reports']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle mastermenu_click" data-value=''>
                                        <span class="nk-menu-text">Reports </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['adhoc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/adhoc" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Adhoc Reports  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['lead_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/lead" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Lead Reports  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['customer_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <!-- <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/customer" class="nk-menu-link mastermenu_click" data-value=''>
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Customer Reports </span>
                                            </a>
                                        </li> -->
                                        <?php }?>
                                        <?php if($_SESSION['kyc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/kyc" class="nk-menu-link mastermenu_click" data-value='' >
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> KYC Reports </span>
                                            </a>
                                        </li>
                                        <?php }?>


                                        <?php if (1!=1): ?>                                        
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/document" class="nk-menu-link mastermenu_click ">
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Document Reports  </span>
                                            </a>
                                        </li>
                                        <?php endif ?>
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['super_admin']==1 || $_SESSION['master_settings']==1) { ?>
                                <li class="nk-menu-item  ">
                                    <?php if($_SESSION['super_admin']==1) { ?> <!-- data-target="userAside" -->
                                    <a href="javascript:void();" class="nk-menu-link toggle mastermenu_click" data-value='mastersettings' >
                                        <span class="nk-menu-text">Master settings  </span>
                                    </a>
                                    <?php }?>
                                </li>
                                <?php }?>



                                <?php if (1!=1): ?>

                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>room" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                        <span class="nk-menu-text"> Manage Rooms   </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>newsinfo" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-calendar"></em></span>
                                        <span class="nk-menu-text"> News Management   </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>faqs" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-list-index-fill"></em></span>
                                        <span class="nk-menu-text"> Manage FAQ's </span>
                                    </a>
                                </li>
                                <?php endif ?>

                             <?php } ?>   
                            </ul>
                        </div><!-- .nk-header-menu -->
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <?php if(($_SESSION['tenant_id']==1)) { ?>

                                    <?php if(isset($_SESSION["crm_project_id"])) {  ?> 
                                    <div class="nk-header-news d-none d-xl-block order-sm-first">
                                        <div class="nk-news-list">
                                            <a class="nk-news-item" href="javascript:void();" data-toggle="modal" data-target="#propertyModel">
                                                <div class="nk-news-icon">
                                                    <em class="icon ni ni-card-view"></em>
                                                </div>
                                                <div class="nk-news-text">
                                                    <p>Project :  <?php echo ucwords($data['user']['project_name'])?> </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <?php }else{ ?>

                                    <?php } ?>

                                <?php } ?>

                                <li class="hide-mb-sm"><a href="<?php echo COREPATH ?>home/logout" class="nk-quick-nav-icon"><em class="icon ni ni-signout"></em></a></li>
                                <li class="dropdown user-dropdown order-sm-first">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="icon ni ni-user-alt"></em>
                                            </div>
                                            <div class="user-info d-none d-xl-block">
                                                <div class="user-name dropdown-indicator"><?php echo ucwords($data['user']['username']) ?> </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1 is-light">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <?php
                                                        $words = explode(" ", $data['user']['username']);
                                                        $acronym = "";
                                                        foreach ($words as $w) {
                                                          $acronym .= $w[0];
                                                        }

                                                         ?>
                                                    <span><?php echo $acronym ?></span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text"><?php echo ucwords($data['user']['username']) ?></span>
                                                        <span class="sub-text"><?php echo ($data['user']['email']) ?></span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="<?php echo COREPATH ?>profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                <li><a href="<?php echo COREPATH ?>profile/changepassword"><em class="icon ni ni-setting-alt"></em><span>Change Password </span></a></li>
                                                <?php if($_SESSION['super_admin']==1) { ?>
                                                <li><a href="<?php echo COREPATH ?>trash"><em class="icon ni ni-trash-alt"></em><span>Trash Management </span></a></li>
                                                <?php }?>
                                                <li><a href="<?php echo COREPATH ?>profile/activity"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="<?php echo COREPATH ?>home/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->


                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>



 