/*------------------
	General
-------------------*/

en{
	color: red;
}

.mb75{
    margin-bottom: 75px;
}

.mb20{
    margin-bottom: 20px;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containers {
  padding: 10px 5px;
}

.containers h4{
	font-size: 16px;
}

.text-center .ni-camera
{
	color: #808080;
}

.no_display{
    display: none;
}

.button_warp{
   float: right;
}

.add_attachment{
    font-size: 13px;
}

.nk-files-list.title h5{
        font-size: 20px;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    text-transform: none;

}

.float_right{
    float: right;
}


.nk-kyc-app-icon .icon.reject { display: inline-flex; align-items: center; justify-content: center; height: 80px; width: 80px; font-size: 36px; border-radius: 50%; color: #fd0606; border: 2px solid #fd0606; }

.nk-kyc-app-icon .icon.approved { display: inline-flex; align-items: center; justify-content: center; height: 80px; width: 80px; font-size: 36px; border-radius: 50%; color: #008000 ; border: 2px solid #008000 ; }


.nk-kyc-app-icon .icon.processing { display: inline-flex; align-items: center; justify-content: center; height: 80px; width: 80px; font-size: 36px; border-radius: 50%; color: #1E90FF; border: 2px solid #1E90FF; }


.nk-kyc-app-icon .icon.notsubmitted { display: inline-flex; align-items: center; justify-content: center; height: 80px; width: 80px; font-size: 36px; border-radius: 50%; color: #ffa353; border: 2px solid #ffa353; }

.nk-kyc-app-icon p.reject{
    color: #fd0606;
    font-size: 25px;
}
.nk-kyc-app-icon p.approved{
    color: #008000;
    font-size: 25px;
}
.nk-kyc-app-icon p.processing{
    color: #1E90FF;
    font-size: 25px;
}
.nk-kyc-app-icon p.notsubmitted{
    color: #ffa353;
    font-size: 25px;
}

/*============================
    Image Gallery Landing page
==============================*/

.communitygallery.gallery_wrap {
    margin: 10px 0 0px 0;
}

.communitygallery.gallery_wrap img{
    width:  250px !important;
}

@media (max-width: 768px) {
    .communitygallery.gallery_wrap img{
        width:  120px !important;
    }
}

.gallery_wrap {
    /*margin: 30px 0 0px 0;*/
}

.gallery_link {
    color: inherit;
}

.gallery_link:hover {
    text-decoration: none;
}

.gallery_list {
    background: #fff;
    border-radius: 0 0 4px 4px;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.gallery_list .img_wrap {
    position: relative;
}

.gallery_list .album_title {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 10px;
}

.gallery_list .img_wrap .img img {
    border-radius: 4px 4px 0 0;
    width: 100%;
}

.gallery_list .album_title p {
    color: #fff;
    margin: 0;
    font-size: 15px;
    padding: 0;
    line-height: 21px;
}

.gallery_list .album_body {
    padding: 10px 5px 5px 5px;
}

.gallery_list .album_body h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    line-height: 15px;
    padding: 0 5px;
}

.gallery_list .album_body h4 .fa {
    color: #999;
}

.gallery_list .album_footer {
    padding: 5px 10px 10px 10px;
    border-radius: 0 0 4px 4px;
}

.gallery_list .album_footer .posted {
    margin: 0;
    font-size: 12px;
}

.gallery_list .album_footer .posted strong {
    color: #484848;
}

.gallery_list:hover {
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.15);
}

.gallery_list:hover .album_footer .posted strong {
    color: #f99207;
}

.gallery_list .album_footer .posted span {
    float: right;
    font-size: 11px;
}



/*.gallery {
    margin: 40px 0;
}*/

.gallery .zooming img {
    margin: 0 0 30px 0;
    padding: 0;
}

.view_album_posted_by {
    position: absolute;
    z-index: 1;
   /* bottom: 21px;*/
   top: 0;
    right: 16px;
    padding: 5px 6px;
    font-size: 13px;
    color: #fff;
}

.view_album_posted_by.raise_ticket a{
    color:  #fff;
    font-size: 11px;
}

.raise_ticket .btn-sm{
    padding: 0px 5px;
}

.view_album_posted_by a {
    color: #fff;
    font-size: 13px;
}

.home_gallery {
    margin: 0px 0 30px 0;
}

.home_gallery_items .gallery_list {
    margin: 20px 0 0 0;
    border-radius: 4px;
}


/*---------------------------------------------
        Home popup  
-----------------------------------------------*/

.branch_select {
    padding: 0;
}

.branch_select li {
    list-style-type: none;
    margin: 10px 0;
}

.branch_select li a {
    display: block;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.modal-header .closes {
    padding: 1rem 1.25rem;
    margin: -1rem -1.25rem -1rem auto;
}

.closes {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/*---------------------------------------------
            Adhoc Multi image    
-----------------------------------------------*/

.post_form_wrap .image_attach_wrap {
    padding: 0 10px;
}


/* Write a post */

.post_an_item_wrap {
   /* background: #fff;
    margin: 0 0 45px 0;*/
    /*box-shadow: rgba(34, 34, 34, 0.15) 0 15px 30px;*/
   /* box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
    border-radius: 5px;*/
}

.post_an_item_wrap .post_header {
    padding: 10px 15px;
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.post_an_item_wrap .post_header h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 25px;
}

.post_an_item_wrap .post_topic {
    padding: 10px 5px;
    background: #fff;
}

.post_an_item_wrap .form-control.post_title {
    margin: 0px 0 0px 0;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.post_an_item_wrap .post_topic h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 10px;
    line-height: 23px;
}

.post_an_item_wrap .post_topic .topic_list li {
    display: inline-block;
    margin: 5px;
}

.post_an_item_wrap .post_topic .topic_list li.no_display {
    display: none;
}

.post_an_item_wrap .post_topic .topic_list li.hide_topic_li {
    display: inline-block;
}

.post_an_item_wrap .post_topic .topic_list li button {
    background: #fff;
    padding: 7px 15px 7px 40px;
    display: block;
    position: relative;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 21px;
    color: #6c7a86;
}

.post_an_item_wrap .post_topic .topic_list li button:hover {
    color: inherit;
    box-shadow: rgba(34, 34, 34, 0.15) 0 5px 10px;
    background: #fff;
    border: 1px solid rgba(34, 34, 34, 0.2);
}

.post_an_item_wrap .post_topic .topic_list li button img {
    width: 28px;
    position: absolute;
    top: 3px;
    left: 4px;
}

.post_an_item_wrap .current_images_wrap {
    padding: 10px 0;
}

.post_an_item_wrap .image_attach_wrap {
    padding: 0 10px;
}

.post_an_item_wrap .image_attach_wrap h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 0px 0px;
    line-height: 23px;
}

.post_an_item_wrap .errmsgs {
    padding: 2px 10px;
    margin-top: 5px;
}

.post_an_item_wrap .post_box_footer {
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
}

.post_an_item_wrap .post_box_footer .selector {
    /*width: 80%;*/
    float: left;
    position: relative;
    padding: 7px 10px;
}

.post_an_item_wrap .post_box_footer .selector .attachment {
    position: absolute;
    top: 5px;
    left: 10px;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li {
    display: inline-block;
    margin: 0 2px 0 0;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li button {
    /* border: 1px solid #ccc;
    border-radius: 50px;*/
    border: none;
    box-shadow: none;
    width: 200px;
    height: 35px;
    background: transparent;
    text-align: left;
    font-size: 15px;
    color: #6c7a86;
    line-height: 35px;
}

.post_an_item_wrap .post_box_footer .selector .attachment ul li button:hover {
    color: inherit;
}

.post_an_item_wrap .post_box_footer .selector .drop {
    width: 55%;
    float: right;
}

.post_an_item_wrap .post_box_footer .selector h3 {
    position: absolute;
    right: 55%;
    top: 0;
    width: auto;
    font-size: 15px;
    margin: 0;
    line-height: 50px;
    text-align: right;
    padding: 0 10px;
}

.post_an_item_wrap .post_box_footer .btn-primary {
    float: left;
    width: 20%;
    height: 50px;
    border-radius: 0 0 5px 0;
}

.post_an_item_wrap .close_post_wrap {
    position: absolute;
    top: 5px;
    right: 10px;
    box-shadow: none;
    border: none;
    background: #fff;
    font-size: 23px;
    color: #6c7a86;
    opacity: 0.7;
}

.post_an_item_wrap .close_post_wrap:hover {
    opacity: 1;
}

.postwall_bg {
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1049;
}

.postwall_wrap {
    position: fixed;
    z-index: 1050;
    top: 15%;
    left: 30%;
    width: 40%;
}

.post_topic .post_share{
    padding: 10px 10px 5px 10px;
}


@media (max-width: 768px) {
    .postwall_wrap {
        position: absolute;
        z-index: 1050;
        top: 0%;
        left: 0%;
        width: 100%;
        overflow-y: scroll;
    }

    .post_an_item_wrap {
        border-radius: 0px;
    }

    .post_details.edit {
        position: absolute;
        top: 10%;
        z-index: 1047;
        margin-bottom: 200px;
        width: 90%;
        left: 5%;
        border-radius: 5px;
    }

    .post_an_item_wrap .post_box_footer .selector {
        width: 100%;
        float: left;
        position: relative;
        padding: 7px 10px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment {
        position: absolute;
        top: 8px;
        left: 0px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li {
        display: inline-block;
        margin: 0 2px 0 0;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li button {
        /* border: 1px solid #ccc;
    border-radius: 50px;*/
        border: none;
        box-shadow: none;
        width: 35px;
        height: 35px;
        background: transparent;
        text-align: center;
        font-size: 1.4em;
        color: #6c7a86;
        line-height: 35px;
    }

    .post_an_item_wrap .post_box_footer .selector .attachment ul li button:hover {
        color: inherit;
    }

    .post_an_item_wrap .post_box_footer .selector .drop {
        width: 65%;
        float: right;
    }

    .post_an_item_wrap .post_box_footer .selector h3 {
        position: absolute;
        right: 63%;
        top: 0;
        width: auto;
        font-size: 13px;
        margin: 0;
        line-height: 50px;
        text-align: right;
        padding: 0 10px;
    }

    .post_an_item_wrap .post_box_footer .btn-primary {
        float: left;
        width: 100%;
        height: 50px;
        border-radius: 0 0 0px 0px;
    }

    .post_drop_down .dropdown-menu {
        position: absolute;
        width: 200px;
        z-index: 1051;
        float: left;
        padding: 0px 0;
        margin: 0;
        background: #fff;
        border-radius: 0;
        border-color: #d8e2e7;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
        background-clip: padding-box;
    }
}



/*------ Multiple Image Upload -----*/

.multi_box {
    float: left;
    margin: 5px 10px 5px 0;
    width: 90px;
    height: 90px;
    position: relative;
    overflow: hidden;
    border: 1px dashed #ddd;
}

.multi_box .add_multi_file {
    text-align: center;
    height: 100%;
}

.multi_box .img_button,
.multi_box .add_multi_file button {
    border: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    background: #fff;
}

.multi_box .img_button i,
.multi_box .add_multi_file button i {
    font-size: 2.5em;
    opacity: 0.3;
}

.multi_box .loader_warp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #fff;
}

.multi_box img {
    width: 100%;
    height: 100%;
}

.multi_box .label_img {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    box-shadow: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.label_img .ni-cross-sm::before {
    margin-left: -5px;
    font-size: 23px;
}



/*------ Event List V 2.0 --------*/

.event_item_list {
    width: 100%;
    min-height: 90px;
    background: #fff;
    box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #ddd;
}

.event_item_list:hover {
    box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
}

.event_item_list a:hover {
    text-decoration: none;
}

/*.event_item_list .event_image {
    width: 40%;
    height: 90px;
    float: left;
    position: relative;
}*/

.event_item_list .event_image {
    width: 32%;
    height: 88px;
    float: left;
    position: relative;
}

.event_item_list .event_info {
    float: right;
    width: 68%;
    position: relative;
    padding: 8px;
    height: 90px;
}

.event_item_list .event_info h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
    line-height: 25px;
    font-weight: 600;
}

.event_item_list .info_wrap h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    line-height: 23px;
    font-weight: 500;
}

.event_item_list .info_wrap h5 {
    font-size: 13.5px;
    margin: 0 0 5px 0;
    line-height: 18px;
    font-weight: lighter;
    color: #5d5d5d;
}

.event_item_list .info_wrap h5 i {
    width: 12px;
    text-align: center;
    margin: 0 5px 0 0;
}

.event_item_list .stats_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px 15px;
    height: 35px;
}

.event_item_list .stats_wrap ul li {
    display: inline-block;
}

.event_item_list .stats_wrap ul li.icons {
    min-width: 25px;
    float: right;
    text-align: center;
    margin-left: 10px;
}

.event_item_list .stats_wrap ul li p {
    color: #666A73;
    margin: 0;
    line-height: 27px;
    font-size: 13px;
}

.event_item_list .stats_wrap ul li p i {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .event_item_list {
        width: 100%;
        min-height: 380px;
        background: #fff;
        box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
        margin-bottom: 30px;
        position: relative;
    }
    .event_item_list:hover {
        box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
    }
    .event_item_list a:hover {
        text-decoration: none;
    }
    .event_item_list .event_image {
        width: 100%;
        height: 150px;
        float: left;
        position: relative;
    }
    .event_item_list .event_info {
        float: right;
        width: 100%;
        position: relative;
        padding: 15px;
        height: 230px;
    }
    .event_item_list .event_info h1 {
        font-size: 18px;
        margin: 0 0 10px 0;
        line-height: 25px;
        font-weight: 600;
    }
    .event_item_list .info_wrap h2 {
        font-size: 16px;
        margin: 0 0 10px 0;
        line-height: 23px;
        font-weight: 500;
    }
    .event_item_list .info_wrap h5 {
        font-size: 13.5px;
        margin: 0 0 5px 0;
        line-height: 18px;
        font-weight: lighter;
        color: #5d5d5d;
    }
    .event_item_list .info_wrap h5 i {
        width: 12px;
        text-align: center;
        margin: 0 5px 0 0;
    }
    .event_item_list .stats_wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 5px 15px;
        height: 35px;
    }
    .event_item_list .stats_wrap ul li {
        display: inline-block;
    }
    .event_item_list .stats_wrap ul li.icons {
        min-width: 25px;
        float: right;
        text-align: center;
        margin-left: 10px;
    }
    .event_item_list .stats_wrap ul li p {
        color: #666A73;
        margin: 0;
        line-height: 27px;
        font-size: 13px;
    }
    .event_item_list .stats_wrap ul li p i {
        opacity: 0.6;
    }
}


/*========================
    Page Loading 
========================*/

.page_loading {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0px;
    /*
background: rgba(95, 190, 170,0.5);
background: rgba(255, 255, 255,0.7);
background: rgba(168, 183, 199,0.7);
background: rgba(0, 0, 0,0.7);*/
    background: rgba(46, 60, 84, 0.6);
    display: none;
}

.overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loading_image {
    background: rgba(255, 255, 255, 1);
    width: 250px;
    height: 250px;
    position: fixed;
    top: 33%;
    left: 41%;
    z-index: 11;
    border-radius: 20px;
}

.load_img {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.load_img img {
    width: auto;
    overflow: hidden;
    margin: 45px auto 0 auto;
}

.load_text {
    text-align: center;
    margin: 0px 0 18px 0;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    width: 100%;
}

@media (max-width: 748px) {
    .loading_image {
        background: #FFF;
        width: 180px;
        height: 180px;
        position: fixed;
        top: 33%;
        left: 27%;
        z-index: 11;
        border-radius: 10px;
    }
    .load_img img {
        width: 55%;
        overflow: hidden;
        margin: 25px auto 0 auto;
    }
    .load_text {
        text-align: center;
        margin-top: 0px;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .logo img {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .mom_wrap {
        margin-left: 12%;
    }
}

@media only screen and (max-width: 768px) {
    .items li {
        width: 100% !important;
    }
}

.text_center {
    text-align: center;
}

.thick {
    font-weight: bold;
}


/*------------------------------
            News
-------------------------------*/

.spec_img .image {
    height: 170px;
    width: 100%;
    border-radius: 5px
}


.blog-box-layout4 {
    border: 1px solid #dedede;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

.blog-box-layout4:hover .item-img {
    border-radius: 4px 4px 0 0
}

.blog-box-layout4:hover .item-img a {
    display: block;
    border-radius: 4px 4px 0 0
}

.blog-box-layout4:hover .item-img a img {
    border-radius: 4px 4px 0 0;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.blog-box-layout4 .item-img {
    position: relative;
    overflow: hidden
}

.blog-box-layout4 .item-img img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.blog-box-layout4 .item-img.view_gallery img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 300px;
}

.blog-box-layout4 .post-date {
    position: absolute;
    background-color: #798bff;
    top: 25px;
    left: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    line-height: 20px;
    color: #fff
}

.blog-box-layout4 .post-date span {
    display: block
}

.blog-box-layout4 .item-content {
    padding: 15px 20px 15px
}

.blog-box-layout4 .item-content {
    min-height: 250px
}

.blog-box-layout4 .item-content .item-title {
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    font-weight: 500
}

.blog-box-layout4 .item-content .item-title a {
    color: #111;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.blog-box-layout4 .item-content .item-title a:hover {
    color: #798bff
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li {
    font-size: 14px;
    display: inline-block;
    margin-right: 20px
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li:last-child {
    margin-right: 0
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li span {
    color: #798bff
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li a {
    color: #444;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li a i {
    margin-right: 10px
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li a i:before {
    margin-left: 0;
    color: #798bff;
    font-size: 14px
}

.blog-box-layout4 .item-content .post-actions-wrapper ul li a:hover {
    color: #798bff
}



/*=======================
    Pop Up Style
=========================*/


.popup_content {
    padding: 15px;
}


.popup_content h2 {
    font-size: 22px;
    line-height: 25px;
}


.popup_content p {
    margin: 0;
}


.pop_bg_wrap {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.pop_bg_wrap .pop_up_body {
    background: #fff;
    width: 55%;
    position: relative;
    top: 5%;
    left: 22%;
    box-shadow: 0 5px 30px #000;
}

.pop_bg_wrap .pop_up_body .close_popup {
    position: absolute;
    top: -20px;
    right: -20px;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
}

.pop_bg_wrap .pop_up_body .close_popup a {
    display: block;
    font-size: 1.9em;
    line-height: 1.4em;
    color: #fff;
    margin-top: 1px;
}

.pop_bg_wrap .home_popup_video {
    padding: 1px;
}

.pop_bg_wrap .home_popup_video img.sch {
    width: 40%;
    float: left;
}

.pop_bg_wrap .home_popup_video .sch_content {
    float: left;
    width: 100%;
    padding: 15px;
}

/*.pop_bg_wrap .home_popup_video img.sch {
    width: 50%;
    float: left;
}

.pop_bg_wrap .home_popup_video .sch_content {
    float: left;
    width: 50%;
    padding: 15px;
}*/

.pop_bg_wrap .home_popup_video .sch_content p {
    text-align: center;
}

.pop_bg_wrap .home_popup_video .sch_content p img {
    width: 200px;
}

.pop_bg_wrap .home_popup_video .sch_content h1 {
    font-size: 1.9em;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    margin: 15px auto 10px auto;
    width: 85%;
}

.pop_bg_wrap .home_popup_video .sch_content h3 {
    font-size: 17px;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.pop_bg_wrap .home_popup_video .sch_content h5 {
    font-size: 15px;
    line-height: 23px;
    margin: 10px 0 10px 10px;
}

.pop_bg_wrap .home_popup_video .sch_content h6 {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

.pop_bg_wrap .home_popup_video .sch_content h5 i {
    color: #5d5d5d;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pop_bg_wrap .home_pop_content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 10px;
    background: rgba(255, 255, 255, 0.8);
}

.pop_bg_wrap .home_pop_content .popup_links {
    padding-bottom: 10px;
}

.pop_up_body .donate_now {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 15px 10px;
}

.pop_up_body .donate_now h2 {
    float: left;
    font-size: 16px;
    font-style: italic;
}

.pop_up_body .donate_now p {
    float: left;
    margin: 20px 0 20px 0;
}

.pop_up_body .donate_now a {
   /* text-align: center;
    margin: 0;
    background: #5d5d5d;
    padding: 15px 25px;*/
    margin-top: 15px;
   /* color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-transform: none;
    border-radius: 2px;*/
}

.pop_up_body .donate_now a:hover {
   /* background: #5d5d5d;*/
    box-shadow: 0 2px 3px #222;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .pop_bg_wrap .pop_up_body {
        background: #fff;
        border-radius: 3px;
        width: 80%;
        position: absolute;
        top: 5%;
        left: 8%;
        box-shadow: 0 5px 30px #000;
    }

    .pop_up_body .donate_now {
        position: relative;
        width: 100%;
        background: transparent;
        padding: 10px 0px 5px 0;
        border-radius: 0 0 3px 3px;
    }

    .pop_bg_wrap .home_popup_video img.sch {
        width: 50%;
        float: left;
    }

    .pop_bg_wrap .home_popup_video .sch_content {
        float: left;
        width: 50%;
        padding: 15px;
    }

    .pop_bg_wrap .home_popup_video .sch_content p {
        text-align: center;
    }

    .pop_bg_wrap .home_popup_video .sch_content p img {
        width: 150px;
    }

    .pop_bg_wrap .home_popup_video .sch_content h1 {
        font-size: 1.5em;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        margin: 15px auto 10px auto;
        width: 85%;
    }

    .pop_bg_wrap .home_popup_video .sch_content h3 {
        font-size: 15px;
        text-align: center;
        margin: 0 0 5px 0;
        font-weight: bold;
    }

    .pop_bg_wrap .home_popup_video .sch_content h5 {
        font-size: 15px;
        line-height: 28px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .pop_bg_wrap .home_popup_video .sch_content h6 {
        font-size: 13px;
        line-height: 18px;
        margin-left: 10px;
    }

    .pop_bg_wrap .home_popup_video .sch_content h5 i {
        color: #5d5d5d;
    }

    .btn2 {
        display: none !important;
    }
}

@media (max-width: 468px) {
    .pop_bg_wrap .pop_up_body {
        background: #fff;
        border-radius: 3px;
        width: 85%;
        position: absolute;
        top: 5%;
        left: 7.5%;
        box-shadow: 0 5px 30px #000;
    }

    .pop_bg_wrap .home_popup_video {
        padding: 5px;
    }

    .pop_bg_wrap .home_popup_video img.sch {
        width: 100%;
        margin-bottom: 20px;
    }

    .pop_bg_wrap .home_popup_video .sch_content {
        float: none;
        width: 100%;
        padding: 5px;
    }

    .sch_content {
        width: 100%;
        display: block;
    }

    .pop_bg_wrap .pop_up_body .close_popup {
        position: absolute;
        top: -15px;
        right: -15px;
        background: rgba(0, 0, 0, 0.5);
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
    }

    .pop_bg_wrap .pop_up_body .close_popup a {
        display: block;
        font-size: 1.2em;
        line-height: 1.6em;
        color: #fff;
    }

    .pop_bg_wrap .home_pop_content {
        position: relative;
        padding: 0 10px 10px 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0 0 5px 5px;
    }

    .pop_up_body .donate_now {
        position: relative;
        width: 100%;
        background: transparent;
        padding: 0px 0px 5px 0;
        border-radius: 0 0 3px 3px;
    }

    .pop_up_body .donate_now p {
        float: none;
        text-align: center;
        margin: 5px 0 15px 0;
    }

    .pop_up_body .donate_now a {
        text-align: center;
        margin: 0;
        background: #5d5d5d;
        padding: 10px 15px;
        margin-top: 15px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 2px;
    }
}

#owl-demo .item {
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.popup_bg {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}


.pop_bg_wrap .owl-next,
.pop_bg_wrap .owl-prev {
    color: white;
}


.form_submit_footer {
    background: rgba(255, 255, 255, 0.8);
        background-size: auto;
    background-size: 100%;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #ddd;
}


/*------ News latest design --------*/

.news_item_link:hover {
    text-decoration: none;
}

.news_item_list {
    width: 100%;
    min-height: 200px;
    /*background: #fbfbfb ;*/
    box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #ddd;
}

.news_item_list:hover {
    box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
}

.news_item_list a:hover {
    text-decoration: none;
}

.news_item_list .event_image {
    width: 30%;
    min-height: 200px;
    float: left;
    position: relative;
}

.news_item_list .news_info {
    float: right;
    width: 70%;
    position: relative;
    padding: 20px;
    min-height: 200px;
}

.news_item_list.width_100 .news_info {
    float: none;
    width: 100%;
}

.news_item_list .news_info h1 {
    font-size: 19px;
    margin: 0 0 8px 0;
    line-height: 27px;
    font-weight: 600;
}

.news_item_list .news_info h2 {
    font-size: 15px;
    margin: 0 0 8px 0;
    line-height: 15px;
    font-weight: 500;
}


.news_item_list .news_info h3 {
    font-size: 13px;
    margin: 0 0 10px 0;
    line-height: 21px;
    font-weight: 500;
    opacity: 0.5;
}

.news_item_list .news_info h5 {
    font-size: 13.5px;
    margin: 0 0 5px 0;
    line-height: 18px;
    font-weight: lighter;
    color: #5d5d5d;
}

.news_item_list .news_info h5 i {
    width: 12px;
    text-align: center;
    margin: 0 5px 0 0;
}

.news_info p{
    color: #000;
}

.news_item_list .stats_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px 25px;
    height: 35px;
}

.news_item_list .stats_wrap ul li {
    display: inline-block;
}

.news_item_list .stats_wrap ul li.icons {
    min-width: 25px;
    float: right;
    text-align: center;
    margin-left: 15px;
}

.news_item_list .stats_wrap ul li p {
    color: #666A73;
    margin: 0;
    line-height: 27px;
    font-size: 13px;
}

.news_item_list .stats_wrap ul li p i {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .news_item_list {
        width: 100%;
        min-height: 500px;
        background: #fff;
        box-shadow: rgba(34, 34, 34, 0.15) 0 1px 1px;
        margin-bottom: 30px;
        position: relative;
    }

    .news_item_list.width_100 {
        min-height: 300px !important;
    }

    .news_item_list:hover {
        box-shadow: rgba(34, 34, 34, 0.25) 0 5px 5px;
    }

    .news_item_list a:hover {
        text-decoration: none;
    }

    .news_item_list .event_image {
        width: 100%;
        min-height: 200px;
        float: left;
        position: relative;
    }

    .news_item_list .news_info {
        float: right;
        width: 100%;
        position: relative;
        padding: 15px;
        min-height: 300px;
    }

    .news_item_list.width_100 .news_info {
        min-height: 300px !important;
    }


    .news_item_list .news_info h1 {
        font-size: 17px;
        margin: 0 0 10px 0;
        line-height: 23px;
        font-weight: 600;
    }

    .news_item_list .news_info h2 {
        font-size: 16px;
        margin: 0 0 10px 0;
        line-height: 21px;
        font-weight: 500;
    }


    .news_item_list .news_info h3 {
        font-size: 14px;
        margin: 0 0 10px 0;
        line-height: 21px;
        font-weight: 500;
        opacity: 0.5;
    }

    .news_item_list .news_info h5 {
        font-size: 13.5px;
        margin: 0 0 5px 0;
        line-height: 18px;
        font-weight: lighter;
        color: #5d5d5d;
    }

    .news_item_list .news_info h5 i {
        width: 12px;
        text-align: center;
        margin: 0 5px 0 0;
    }

    .news_item_list .stats_wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 5px 15px;
        height: 35px;
    }

    .news_item_list .stats_wrap ul li {
        display: inline-block;
    }

    .news_item_list .stats_wrap ul li.icons {
        min-width: 25px;
        float: right;
        text-align: center;
        margin-left: 10px;
    }

    .news_item_list .stats_wrap ul li p {
        color: #666A73;
        margin: 0;
        line-height: 27px;
        font-size: 11px;
    }

    .news_item_list .stats_wrap ul li p i {
        opacity: 0.6;
    }
}


/*
========================
    News Details
========================
*/

.newsdetails_page_headers {
    height: 190px;
    margin: 0px -15px 20px;
    background: 50% 50% no-repeat #232936;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: #fff;
}

.news_details_warp {
    width: 95%;
    /*margin: -110px auto 50px auto;*/
    z-index: 2000;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.news_details_warp .no_image_title {
    font-size: 22px;
    color: inherit;
    padding: 0;
    line-height: 25px;
    margin: 0;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.news_details_warp .new_image_wrap {
    position: relative;
}

.news_details_warp .new_image_wrap .news_img {
    width: 100%;
    /*height: 350px;*/
    height: 915px;
}

.news_details_warp .new_image_wrap h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    color: #fff;
    margin: 0;
    padding: 15px 20px;
}

.news_details_warp .news_content {
    padding: 20px;
}

.news_details_warp .news_content .news_content_text {
    font-size: 16px;
    line-height: 25px;
}

.news_attachment_warp .news_title {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.news_attachment_warp .image_wrap {
    float: left;
    width: 35%;
    position: relative;
}

.news_attachment_warp .image_wrap .image {
    width: 100%;
    background: #ccc;
    background-image: none;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    height: 110px !important;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.news_attachment_warp .content {
    float: left;
    background: #fff;
    width: 65%;
    padding: 15px 15px 15px 15px;
    height: 110px;
    position: relative;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.news_attachment_warp .content h4 {
    font-size: 13px;
    margin: 0 0 3px 0;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 17px;
}

.news_attachment_warp .content p {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
    color: #5d5d5d;
}



.news_attachment_warp .image_wrap .fileimage {
    width: 100%;
    /* background: #ccc;*/
    background-image: none;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    height: 110px !important;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}


@media only screen and (max-width: 768px) {
    .newsdetails_page_headers {
        height: 190px;
        margin: 0px -15px 20px;
        background: 50% 50% no-repeat #232936;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
        color: #fff;
    }

    .news_details_warp {
        width: 95%;
       /* margin: -110px auto 50px auto;*/
        z-index: 2000;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    }

    .news_details_warp.feeds_info_warp{
        width: 95%;
        margin: -160px auto 50px auto;
        z-index: 2000;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    }


    .news_details_warp .no_image_title {
        font-size: 16px;
        color: inherit;
        padding: 0;
        line-height: 21px;
        margin: 0;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }

    .news_details_warp .new_image_wrap {
        position: relative;
    }

    .news_details_warp .new_image_wrap .news_img {
        width: 100%;
        height: 180px;
    }

    .news_details_warp .new_image_wrap h3 {
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.65);
        width: 100%;
        color: #fff;
        margin: 0;
        padding: 15px 20px;
    }

    .news_details_warp .news_content {
        padding: 10px;
    }

    .news_details_warp .news_content .news_content_text {
        font-size: 14px;
        line-height: 25px;
    }
}
